<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>navegacion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8514A834212DC5B300B1EE22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8514A848212DC5B400B1EE22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8514A853212DC5B400B1EE22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
